.navbar {
    height: 60px;
    display: flex;
    // align-items: center;
    justify-items: center;
    min-width: 750px;



    .navbar_pages_container {
        display: grid;
        justify-content: center;
    }

    .navbar_pages {
        width: 400px;
    }

}

