// @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');
@import './index.scss';

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Nunito Sans";
  color: black;
  background-color: #ffffff;
}

.primaryFont {
  font-family: "Nunito Sans";
  font-size: 18px;
}

.primaryFontBold {
  @extend .primaryFont;
  font-weight: 600;
}

.secondaryFont {
  font-family: 'Montserrat', sans-serif;
}

.primaryFontColor {
  color: black !important;
}

.secondaryFontColor {
  color: white !important;
}

.primaryBackgroundColor  {
  background-color: #ffffff !important;
}

.outlinePrimary {
  border: 1px solid white !important;
}

.outlineSecondary {
  border: 1px solid black !important;
}

.secondaryBackgroundColor {
  background-color: #0288d1  !important;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
}

.authButton {
  color: white !important;
  border: 1px solid white !important;
}