// @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');
@import './index.scss';

* {
  margin: 0;
  // font-family: Nunito Sans;
  /* font-family: Nunito Sans; */
}


.primaryFont {
  font-family: "Nunito Sans";
}

.secondaryFont {
  font-family: 'Montserrat', sans-serif;
}